.contentHeader{
    max-width: 700px;
    display: flex;
    margin: 0 auto;
    padding: 3rem 2rem;   
}

.post {
    h2{
        font-size: 1.45rem;               
        color: var(--heading);
        margin-bottom: 0.5rem;
        transition: color 0.2s;
        
        &:hover{        
            color: var(--highlight);            
            cursor: pointer;           
        }
    }

    p{        
        margin-bottom: 1rem;
        font-weight: 400;
    }

    .postInfo{
        display: flex;
        align-items: center;        
        margin-bottom: 2rem;
        color: var(--text);
        font-size: 0.8rem;

        span{
            display: flex;
            align-items: center;
            margin-right: 1rem;

            svg{
                margin-right: 0.5rem;
            }
        }
                
    }   
}

.loadMoreButton{
    background-color: transparent;    
    text-align: start;
    border: none;
    color: var(--highlight);
    width: 10rem;
    transition: filter 0.2s;
    
    &:hover{
        filter: brightness(0.9);
    }
}